################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MOTAUNG_TP.BookStore/.vs/MOTAUNG_TP.BookStore/v17
/MOTAUNG_TP.BookStore/MOTAUNG_TP.BookStore/obj
/MOTAUNG_TP.BookStore/.vs
/MOTAUNG_TP.BookStore/MOTAUNG_TP.BookStore/bin/Debug/netcoreapp3.1
/MOTAUNG_TP.BookStore/MOTAUNG_TP.BookStore/wwwroot/lib
/MOTAUNG_TP.BookStore/MOTAUNG_TP.BookStore/bin/Release/netcoreapp3.1
