@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Books</title>
    </head>
    <body>
        <h1>List of All Books</h1>
        <button>Click me</button>
    </body>
</html>