@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>About Us</title>
    </head>
    <body>
        <h1>This is the about us page of our Book Store Application</h1>
    </body>
</html>