@*@{
    ViewData["Title"] = "About Us";
}*@

@{
    var book = ViewData["book"] as BookModel;
}
<h1>This is the about us page of our Book Store Application</h1>
<h2>@ViewData["CustomProperty"]</h2>
<h2>@book.Id</h2>
<h2>@book.Title</h2>