@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>

        <h1>Welcome to the BookStore Application</h1>

        @*For Loop*@
        @*@for (int i = 0; i < 10; i++)
        {
            <h2>Hello from for loop index = @i</h2>
        }*@

        @*For Each Loop*@
        @{
            var list = new List<int>() { 1, 2, 3, 4, 5 };
        }

        @foreach(var item in list)
        {
            <h2>@item</h2>
        }

    </body>
</html>